<a href="https://colab.research.google.com/github/Layravbf/Engenharia-de-Dados/blob/main/lotofacil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
import collections
import sys

In [ ]:
# Variavel url que recebe o link do site da caixa
url = 'https://servicebus2.caixa.gov.br/portaldeloterias/api/resultados?modalidade=Lotofácil'

In [ ]:
# Com a função get capturamos o retorno do site
r = requests.get(url, verify=False)

/usr/local/lib/python3.7/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

In [ ]:
# Código html da página
r.text

In [ ]:
# Limpando os dados
r_text = r.text.replace('\\r\\n','')
r_text = r_text.replace('"\r\n}', '')
r_text = r_text.replace('{\r\n "html": "', '')
r_text

In [ ]:
# Transformando em um dataframe
df = pd.read_html(r_text)

In [ ]:
# Identificando o tipo da variável
type(df)
type(df[0])

pandas.core.frame.DataFrame

In [ ]:
# Dataframe
df[0]

,Concurso,Data_Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,...,Ganhadores_12_Números,Ganhadores_11_Números,Valor_Rateio_15_Números,Valor_Rateio_14_Números,Valor_Rateio_13_Números,Valor_Rateio_12_Números,Valor_Rateio_11_Números,Acumulado_15_Números,Estimativa_Prêmio,Valor_Acumulado_Especial
0,1,29/09/2003,2.0,3.0,5.0,6.0,9.0,10.0,11.0,13.0,...,48807.0,257593.0,"R$49.765,82","R$689,84","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
1,NaN,BA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,PR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,06/10/2003,1.0,4.0,5.0,6.0,7.0,9.0,11.0,12.0,...,81252.0,478188.0,"R$596.323,70","R$1.388,95","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10524,COROADOS,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10525,OURINHOS,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10526,PINDAMONHANGABA,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10527,SANTA GERTRUDES,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10528,SAO PAULO,SP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Coletando o primeiro dado da lista [0] e retirando os nulos
df = df[0].copy()
df = df.dropna()
df

,Concurso,Data_Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Bola7,Bola8,...,Ganhadores_12_Números,Ganhadores_11_Números,Valor_Rateio_15_Números,Valor_Rateio_14_Números,Valor_Rateio_13_Números,Valor_Rateio_12_Números,Valor_Rateio_11_Números,Acumulado_15_Números,Estimativa_Prêmio,Valor_Acumulado_Especial
0,1,29/09/2003,2.0,3.0,5.0,6.0,9.0,10.0,11.0,13.0,...,48807.0,257593.0,"R$49.765,82","R$689,84","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
4,2,06/10/2003,1.0,4.0,5.0,6.0,7.0,9.0,11.0,12.0,...,81252.0,478188.0,"R$596.323,70","R$1.388,95","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
6,3,13/10/2003,1.0,4.0,6.0,7.0,8.0,9.0,10.0,11.0,...,96244.0,608211.0,"R$400.623,70","R$2.173,36","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
8,4,20/10/2003,1.0,2.0,4.0,5.0,8.0,10.0,12.0,13.0,...,123912.0,706657.0,"R$902.226,02","R$1.498,72","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
10,5,27/10/2003,1.0,2.0,4.0,8.0,9.0,11.0,12.0,13.0,...,195636.0,860992.0,"R$380.017,55","R$687,49","R$10,00","R$4,00","R$2,00","R$0,00","R$0,00","R$0,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10502,2585,29/07/2022,3.0,4.0,6.0,7.0,8.0,10.0,12.0,17.0,...,128398.0,686958.0,"R$766.848,72","R$1.707,81","R$25,00","R$10,00","R$5,00","R$0,00","R$1.500.000,00","R$101.292.043,67"
10505,2586,30/07/2022,1.0,2.0,7.0,8.0,12.0,13.0,15.0,16.0,...,107272.0,620884.0,"R$1.492.333,21","R$1.409,50","R$25,00","R$10,00","R$5,00","R$0,00","R$1.500.000,00","R$101.653.092,04"
10508,2588,02/08/2022,3.0,4.0,5.0,8.0,9.0,10.0,14.0,15.0,...,206479.0,1116184.0,"R$820.395,42","R$1.232,96","R$25,00","R$10,00","R$5,00","R$0,00","R$1.500.000,00","R$102.645.505,87"
10513,2589,03/08/2022,1.0,2.0,4.0,5.0,7.0,8.0,9.0,10.0,...,134191.0,680509.0,"R$485.117,15","R$1.676,67","R$25,00","R$10,00","R$5,00","R$2.272.777,20","R$5.000.000,00","R$102.997.607,04"
10517,2590,04/08/2022,1.0,3.0,4.0,5.0,7.0,9.0,10.0,13.0,...,283142.0,1286124.0,"R$352.149,65","R$407,89","R$25,00","R$10,00","R$5,00","R$0,00","R$1.500.000,00","R$103.404.485,92"

In [ ]:
# Definindo constantes do jogo
nr_pop = list(range(1, 26))
nr_pares = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
nr_impares = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]
nr_primos = [2, 3, 5, 7, 11, 13, 17, 19, 23]

In [ ]:
# Iniciando as variáveis de respostas
comb = []
v_01 = 0
v_02 = 0
v_03 = 0
v_04 = 0
v_05 = 0
v_06 = 0
v_07 = 0
v_08 = 0
v_09 = 0
v_10 = 0
v_11 = 0
v_12 = 0
v_13 = 0
v_14 = 0
v_15 = 0
v_16 = 0
v_17 = 0
v_18 = 0
v_19 = 0
v_20 = 0
v_21 = 0
v_22 = 0
v_23 = 0
v_24 = 0
v_25 = 0

In [ ]:
# Variáveis de interação
lst_campos = ['Bola1', 'Bola2', 'Bola3', 'Bola4', 'Bola5',
              'Bola6', 'Bola7', 'Bola8', 'Bola9', 'Bola10', 'Bola11', 'Bola12',
              'Bola13', 'Bola14', 'Bola15']

In [ ]:
# Percorrendo nosso DF linha a linha
# Em cada linha precisamos levantar os dados de frequencia dos grupos (p,i,np) e dos numeros sorteados
for index, row in df.iterrows():
    v_pares = 0
    v_impares = 0
    v_primos = 0
    for campo in lst_campos:
        if row[campo] in nr_pares:
            v_pares += 1
        if row[campo] in nr_impares:
            v_impares += 1
        if row[campo] in nr_primos:
            v_primos += 1
        if row[campo] == 1:
            v_01 += 1
        if row[campo] == 2:
            v_02 += 1
        if row[campo] == 3:
            v_03 += 1
        if row[campo] == 4:
            v_04 += 1
        if row[campo] == 5:
            v_05 += 1
        if row[campo] == 6:
            v_06 += 1
        if row[campo] == 7:
            v_07 += 1
        if row[campo] == 8:
            v_08 += 1
        if row[campo] == 9:
            v_09 += 1
        if row[campo] == 10:
            v_10 += 1
        if row[campo] == 11:
            v_11 += 1
        if row[campo] == 12:
            v_12 += 1
        if row[campo] == 13:
            v_13 += 1
        if row[campo] == 14:
            v_14 += 1
        if row[campo] == 15:
            v_15 += 1
        if row[campo] == 16:
            v_16 += 1
        if row[campo] == 17:
            v_17 += 1
        if row[campo] == 18:
            v_18 += 1
        if row[campo] == 19:
            v_19 += 1
        if row[campo] == 20:
            v_20 += 1
        if row[campo] == 21:
            v_21 += 1
        if row[campo] == 22:
            v_22 += 1
        if row[campo] == 23:
            v_23 += 1
        if row[campo] == 24:
            v_24 += 1
        if row[campo] == 25:
            v_25 += 1
    comb.append(str(v_pares) + 'p-' + str(v_impares) + 'i-' + str(v_primos)+'np')

In [ ]:
# Colocamos a frequência dos números em uma lista única
freq_nr = [
    [1, v_01],
    [2, v_02],
    [3, v_03],
    [4, v_04],
    [5, v_05],
    [6, v_06],
    [7, v_07],
    [8, v_08],
    [9, v_09],
    [10, v_10],
    [11, v_11],
    [12, v_12],
    [13, v_13],
    [14, v_14],
    [15, v_15],
    [16, v_16],
    [17, v_17],
    [18, v_18],
    [19, v_19],
    [20, v_20],
    [21, v_21],
    [22, v_22],
    [23, v_23],
    [24, v_24],
    [25, v_25]
]

In [ ]:
freq_nr

[[1, 1381],
 [2, 1412],
 [3, 1417],
 [4, 1405],
 [5, 1423],
 [6, 1344],
 [7, 1367],
 [8, 1342],
 [9, 1399],
 [10, 1454],
 [11, 1456],
 [12, 1417],
 [13, 1442],
 [14, 1430],
 [15, 1374],
 [16, 1342],
 [17, 1383],
 [18, 1395],
 [19, 1394],
 [20, 1451],
 [21, 1373],
 [22, 1392],
 [23, 1386],
 [24, 1419],
 [25, 1427]]

In [ ]:
# Ordenando da menos frequente, para a mais frequente (ordenação pela segunda coluna)
freq_nr.sort(key=lambda tup: tup[1])
freq_nr

[[8, 1342],
 [16, 1342],
 [6, 1344],
 [7, 1367],
 [21, 1373],
 [15, 1374],
 [1, 1381],
 [17, 1383],
 [23, 1386],
 [22, 1392],
 [19, 1394],
 [18, 1395],
 [9, 1399],
 [4, 1405],
 [2, 1412],
 [3, 1417],
 [12, 1417],
 [24, 1419],
 [5, 1423],
 [25, 1427],
 [14, 1430],
 [13, 1442],
 [20, 1451],
 [10, 1454],
 [11, 1456]]

In [ ]:
print(freq_nr[0])  # primeiro
print(freq_nr[-1])  # ultimo

[8, 1342]
[11, 1456]

In [ ]:
counter = collections.Counter(comb)
resultado = pd.DataFrame(counter.items(), columns=['Combinacao', 'Frequencia'])
resultado['p_freq'] = resultado['Frequencia']/resultado['Frequencia'].sum()
resultado = resultado.sort_values(by='p_freq')

In [ ]:
print('''
O número mais frequente é o:  {}
O número menos frequente é o:  {}
A combinação de Pares, Ímpares e Primos mais frequente é: {} com a frequencia de: {}%
'''.format(freq_nr[-1][0], freq_nr[0][0], resultado['Combinacao'].values[-1], int((resultado['p_freq'].values[-1]*100)*100)/100)
)

O número mais frequente é o:  11
O número menos frequente é o:  8
A combinação de Pares, Ímpares e Primos mais frequente é: 7p-8i-6np com a frequencia de: 10.36%